body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#topbar {
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
    background-color: #1805efcc;;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 8%
}

#left-menu {
    display: inline-flex;
    justify-content: start;
    align-items: center;
}

#logo>a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#logo {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 16px;
}

#logo span {
    font-weight: 800;
    color: aliceblue;
}

#left-menu>a {
    text-decoration: none;
    color: black;
    margin-left: 32px;
    text-transform: uppercase;
    font-weight: 600;
}

#search-wrapper {
    width: 100%;
    max-width: 400px;
    position: relative;
}

#search-wrapper>i {
    position: absolute;
    color: #999;
    font-size: 18px;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
}

#search-box {
    width: 100%;
    border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    padding: 10px 24px 8px 48px;
    color: black;
    outline: none;
}


#player-details{
  width: 80%;
  margin: 0 auto; display: flex;
  align-items: center;
    justify-content: center;
    padding-top: 25vh;
}

#left {
    width: 30%;
    margin-top: 25vh;
    padding-left: 30px;
    background-color: #1805efcc;
    margin-right: 100px;
    border-radius: 10px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.2);
}
#rightPreview{
    width: 100%;
    margin-top: 25vh
}

#left #name {
    font-weight: 500;
    font-size: 44px;
    font-family: Impact;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: white;
    text-shadow: -5px 4px black;
    word-spacing: 10px;
    margin-bottom: 0px;
}
#left #team{
    font-weight: 300;
    font-size: 24px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    margin-top: 0px;
}
#left #cost{
    font-weight: 300;
    font-size: 28px;
    letter-spacing: -2px;
    margin-bottom: 8px;
}
#left #description{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
}

